name: Publish @port-labs/jq-wasm

permissions:
  id-token: write # Required for OIDC
  contents: read

on:
  release:
    types: [created]
  workflow_dispatch:
  workflow_call:

jobs:
  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - name: Install node-gyp deps
        run: sudo apt-get install -y autoconf make libtool automake
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          registry-url: https://registry.npmjs.org/
          cache: "npm"
      - run: bash install_emscripten.sh && npm install && cp dist.package.json dist/package.json && cp index.d.ts dist/index.d.ts
      - run: npm publish ./dist --access=public --tag=next --dry-run
        if: ${{ github.event.release.prerelease }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
      - run: npm publish ./dist --access=public --dry-run
        if: ${{ !github.event.release.prerelease }}
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
